# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Environments
.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc

# Other
*.bak
*.swp
*.swo

# Node (if any JS tooling)
node_modules/

# Coverage
htmlcov/
.coverage
.coverage.*
.cache

# pytest
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# Jupyter
.ipynb_checkpoints/
